@model IEnumerable<maintenanceApplication.Models.Maintenance.MaintenanceModel>

@{
    ViewBag.Title = "GetAllTechnicalReportMaintenanceRequests";
}
@{
    Layout = null;
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="tab-pane active" id="1b">
                <table class="display" id="tech_report">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Device_Model)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Device_SerialNumber)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.priority.PriorityName)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.status.StatusName)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Customer_Name)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.CreationDate)
                            </th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Device_Model)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Device_SerialNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.priority.PriorityName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.status.StatusName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Customer_Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreationDate)
                                </td>
                                <td>

                                    @Html.ActionLink("Actions", "Maintennace_TechnicalReport_Action", new { id = item.Id })
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>

            </div>
        </div>
    </div>


        <script>
            $(document).ready(function () {
                $('#tech_report').DataTable();
                var table = $('#tech_report').DataTable();
            });
        </script>
